* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#card1 {
  background: linear-gradient(180deg, #FFF 0%, #F7F9FD 100%);
  box-shadow: 4px 4px 4px 4px rgba(30, 149, 155, 0.50);
}
#btn {
  filter: drop-shadow(0px 5px 10px rgba(30, 149, 155, 0.50));
}
#card2 {
  background: linear-gradient(180deg, #FFF 0%, #F7F9FD 100%);
  box-shadow: 0px 4px 4px 0px rgba(30, 149, 155, 0.50);
}
#btn1 {
  border: 2px  rgba(30, 149, 155, 0.50) solid;
  filter: drop-shadow(0px 5px 10px rgba(30, 149, 155, 0.50));
}
#sec5 {
  background-image: url("src/assets/main_img/61769 1 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}
#card3 {
  background: linear-gradient(180deg, #FFF 0%, #F7F9FD 100%);
  box-shadow: 0px 5px 10px 0px rgba(30, 149, 155, 0.50);
}